@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Secret Zone";
}

<div>
    <h1>Tokens Resut - For Client</h1>
</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <h2>User is Authenticated</h2>
        <p>
            <ul>
                @foreach (var claim in User.Claims)
                {
                    <li><strong> @claim.Type:</strong> @claim.Value</li>
                }
                <li><strong>Access Token: </strong><div style="overflow-wrap: break-word">@await Context.GetTokenAsync("access_token")</div></li>
                <li><strong>Identity Token: </strong><div style="overflow-wrap: break-word">@await Context.GetTokenAsync("id_token")</div></li>
            </ul>
        </p>
    }
    else
    {
        <h2>Ohhhh, you are Unauthenticated</h2>
    }
</div>

@Html.ActionLink("Log out", "Logout", "Authentication")